@page "/"
@inject HttpClient HttpClient // inject directive newProperty newPropertyName - uses dependency injection

<h1>Custom Wood Working</h1>

@code {
    List<PizzaSpecial> specials;
    Pizza configuringPizza;
    bool showingConfigureDialog;
    Order order = new Order();

    List<WoodProduct> portfolio;
    WoodProduct configuringProduct;
    bool showingConfigureProductDialog;

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");

        portfolio = await HttpClient.GetFromJsonAsync<List<WoodProduct>>("portfolio");
    }

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        configuringPizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize,
            Toppings = new List<PizzaTopping>(),
        };

        showingConfigureDialog = true;
    }

    void CancelConfigurePizzaDialog()
    {
        configuringPizza = null;
        showingConfigureDialog = false;
    }

    void ConfirmConfigurePizzaDialog()
    {
        order.Pizzas.Add(configuringPizza);
        configuringPizza = null;
        showingConfigureDialog = false;
    }

    void RemoveConfiguredPizza(Pizza pizza)
    {
        order.Pizzas.Remove(pizza);
    }

    // end pizza functions //

    // start wood product functions //
    void RemoveConfiguredProduct(WoodProduct product)
    {
        order.WoodProducts.Remove(product);
    }


    void CancelConfigureProductDialog()
    {
        configuringProduct = null;
        showingConfigureProductDialog = false;
    }

    void ConfirmConfigureProductDialog()
    {
        order.WoodProducts.Add(configuringProduct);
        configuringProduct = null;
        showingConfigureProductDialog = false;
    }

    void ShowConfigureProductDialog(WoodProduct product)
    {
        configuringProduct = new WoodProduct()
        {
            Id = product.Id,
            BasePrice = product.BasePrice,
            Description = product.Description,
            ImageUrl = product.ImageUrl,
            Name = product.Name,
            Customizations = new List<Customization>(),
            Length = 18
        };

        showingConfigureProductDialog = true;
    }





    async Task PlaceOrder()
    {
        await HttpClient.PostAsJsonAsync("orders", order);
        order = new Order();
    }
}

@if (showingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="configuringPizza" OnCancel="CancelConfigurePizzaDialog" OnConfirm="ConfirmConfigurePizzaDialog" />
}

<!-- theory this dialog needs its own method attempting for OnCancel-->
@if (showingConfigureProductDialog)
{
    <ConfigureProductDialog WoodProduct="configuringProduct" OnCancelProduct="CancelConfigureProductDialog" OnConfirmProduct="ConfirmConfigureProductDialog" />
}


<div class="main">
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var product in portfolio)
            {
                <li @onclick="@(() => ShowConfigureProductDialog(product))" style="background-image: url('@product.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@product.Name</span>
                        @product.Description
                        <span class="price">@product.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>

    <div style="visibility:hidden">
        <ul class="pizza-cards">
            @if (specials != null)
            {
                @foreach (var special in specials)
                {
                    <li @onclick="@(() => ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                        <div class="pizza-info">
                            <span class="title">@special.Name</span>
                            @special.Description
                            <span class="price">@special.GetFormattedBasePrice()</span>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div class="sidebar">
    @if (order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in order.Pizzas)
            {
                <ConfiguredPizzaItem Pizza="configuredPizza" OnRemoved="@(() => RemoveConfiguredPizza(configuredPizza))" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart"></div>
    }

    @if (order.WoodProducts.Any())
    {
        <div class="order-contents">

            @foreach (var configuredProduct in order.WoodProducts)
            {
                <ConfiguredProductItem WoodProduct="configuredProduct" OnRemoved="@(() => RemoveConfiguredProduct(configuredProduct))" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">empty</div>
    }

    <div class="order-total @(order.WoodProducts.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@order.GetFormattedTotalPrice()</span>
        <button class="btn btn-warning" disabled="@(order.WoodProducts.Count == 0)" @onclick="PlaceOrder">
            Order >
        </button>
    </div>
</div>

